@import url("https://fonts.googleapis.com/css?family=Krub");
.App-header {
  background-color: #282c34; }

body {
  margin: 40px auto;
  background: #7BAFAF;
  font-family: 'Krub', sans-serif; }

h1 {
  text-align: center;
  color: #759AAB;
  font-size: 60px;
  padding: 20px;
  margin: 5px; }

#container {
  text-align: center;
  margin: 10px 40px; }

#break-label, #session-label {
  display: inline-block;
  margin: 20px;
  text-align: center;
  background: #3F2E56;
  padding: 20px 25px;
  color: #FAF2A1;
  text-transform: uppercase; }
  #break-label button, #session-label button {
    margin: 5px;
    font-size: 20px;
    padding: 3px 10px;
    font-family: 'Krub', sans-serif;
    font-weight: bold;
    color: #FAF2A1;
    background: #453F78;
    border-radius: 5px; }
  #break-label #break-length, #break-label #session-length, #session-label #break-length, #session-label #session-length {
    font-size: 30px;
    background: #453F78;
    flex-grow: 2;
    margin: 0 10px; }

#containerTimer {
  flex: 70%;
  margin: 60px;
  padding: 10px;
  background-color: #282c34;
  text-align: center; }
  #containerTimer #timer-label {
    font-size: 40px;
    color: #759AAB; }
  #containerTimer #time-left {
    font-size: 68px;
    border-left: 2px solid #FAF2A1;
    border-right: 2px solid #FAF2A1;
    color: #FAF2A1;
    background: #453F78;
    margin: 12px;
    text-align: center; }
  #containerTimer button {
    background: #FAF2A1;
    color: #453F78;
    font-size: 20px;
    padding: 5px 10px;
    font-family: 'Krub', sans-serif;
    font-weight: bold;
    margin: 10px;
    border-radius: 5px; }

div {
  border-radius: 6px; }

#session-label, #break-label, #containerTimer {
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.75);
  padding: 20px 30px; }

#containerClock {
  display: flex;
  justify-content: space-evenly; }

#previewSettings {
  display: flex;
  flex-direction: column;
  flex: 30%; }

.containerPreviewSettings {
  display: flex;
  align-items: center; }

@media (max-width: 650px) {
  h1 {
    font-size: 40px; }

  #containerClock {
    flex-direction: column; }
    #containerClock #previewSettings #break-label, #containerClock #previewSettings #session-label {
      padding: 10px 30px;
      margin: 5px 20px;
      background: none;
      box-shadow: none; }
      #containerClock #previewSettings #break-label h3, #containerClock #previewSettings #session-label h3 {
        color: #453F78;
        margin: 6px;
        font-size: 16px; }
    #containerClock #containerTimer {
      box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.5);
      margin: 20px;
      padding: 10px 20px; }
      #containerClock #containerTimer #timer-label {
        font-size: 38px; } 
}

@media (max-width: 380px) {
  h1 {
    font-size: 40px; }
  body{
    margin-top: 0;
  }

  #containerClock {
    flex-direction: column; }
    #containerClock #previewSettings #break-label, #containerClock #previewSettings #session-label {
      padding: 10px 30px;
      margin: 0px 20px;
      background: none;
      box-shadow: none; }
      #containerClock #previewSettings #break-label h3, #containerClock #previewSettings #session-label h3 {
        color: #453F78;
        margin: 6px;
        font-size: 16px; }
    #containerClock #containerTimer {
      box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.5);
      margin: 20px;
      padding: 10px 20px; }
      #containerClock #containerTimer #timer-label {
        font-size: 38px; } 
}
/*# sourceMappingURL=app.css.map */
